<div class="contents row">
    
     <%= form_for @samurai do |f| %>
     
      <div>
          <h2>名前</h2> 
        <div><%= f.text_area :name, placeholder: '名前', style: 'width: 100%;height: 50px;' %></div>
        <h2>誕生年</h2>
        <div><%= f.text_area :year, placeholder: '誕生年', style: 'width: 100%;height: 50px;' %></div>
        
        <div><%= f.text_area :text, placeholder: '特徴', style: 'width: 100%;height: 300px;' %></div>
        
      <div class="form-group">
        <%= f.submit "送信", class: "btn btn-primary withripple" %>
      </div>
    <% end %>
    
</div>